manifest_version: 2
name: 'SearchSwap'
version: '1.0'
description: 'Cycle a search between search engines'
author: 'Summer ☀️'
icons:
	96: 'images/search_swap/96.png'
page_action:
	default_icon:
		96: 'images/search_swap/96.png'
permissions: [
	'tabs'
	'search'
]
background:
	scripts: [
		'js/lib/webextension-polyfill/browser-polyfill.js'
		'js/background/main.js'
	]
commands:
	_execute_page_action:
		suggested_key:
			default: 'Ctrl+Alt+S'
